.other-packages
  &__title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-bottom: 65px
  &__wrapper
.package-layer
  display: grid
  grid-template-columns: repeat(2, 1fr) 
  grid-template-rows: 500px
  position: relative
  &__button
    max-width: 95px
    height: 30px
    border: none
    border-radius: 0 4px 
    background-color: $primary
    color: $light
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 15px
    margin-top: 26px
  &__image
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 8px 0
    z-index: -1
  &__grid
    background-color: $dark
    padding-top: 46px
    padding-left: 43px
    order: 1
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: $light
  &__text
    font-family: Muli
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
    color: $light
.package-info
.package-info-text
  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light
.package-info-user
  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light
.package-info-room
  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light
.package-price
  display: grid
  &__info
    display: grid 
    grid-column: 1/1
  &__button
    grid-column-start: 3
